root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kts,kt}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ktlint_code_style = intellij_idea
max_line_length = 120

[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{gradlew,gradlew.bat}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
